name: Static Analysis
on: [push, pull_request]
permissions:
  contents: read

jobs:
  static_analysis:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - uses: WillAbides/setup-go-faster@v1.13.0
      with:
        go-version: '1.21.x'

    - name: Install analysis tools
      run: |
        go install golang.org/x/tools/cmd/goimports@latest
        go install github.com/fzipp/gocyclo/cmd/gocyclo@latest
        go install honnef.co/go/tools/cmd/staticcheck@v0.4.6
        go install github.com/mattn/goveralls@latest

    - name: Vet
      run: go vet ./...

    - name: Goimports
      run: test -z "$(goimports -e -d . | tee /dev/stderr)"

    - name: Gocyclo
      run: gocyclo -over 30 .

    - name: Staticcheck
      run: staticcheck ./...
